

#background {
  overflow: hidden;
  cursor: pointer;
}

#bb {
  height: 75em;
}

#cloud {
  position: absolute;
  z-index: 2;
  float: left;
  left: 96em;
}

#sun {
  position: absolute;
  z-index: 2;
  float: left;
  left: 34em;
  animation: wheel2 5s linear infinite;
}

#moon {
  position: absolute;
  z-index: 2;
  float: left;
  left: 115em;
  animation: blink 1s 3;
}

#cars {
  position: absolute;
  z-index: 3;
  float: left;
}

#car {
  position: absolute;
  z-index: 3;
  float: left;
  top: 41em;
  left: 61em;
}

#wheel1 {
  position: absolute;
  z-index: 3;
  float: left;
  left: 67em;
  top: 58em;
  animation: wheel1 4s linear infinite;
}

#wheel2 {
  position: absolute;
  z-index: 3;
  float: left;
  left: 93.54em;
  top: 58em;
  animation: wheel2 4s linear infinite;
}

#bg {
  display: inline-block;
  position: absolute;
  z-index: 1;
  float: left;
  animation: bg 3s linear infinite;
}

@keyframes bg {
  0% {
    right: -35%;
    opacity: 0
  }
  20% {
    right: -28%;
    opacity: 1
  }
  40% {
    right: -21%;
    opacity: 1
  }
  60% {
    right: -14%;
    opacity: 1
  }
  80% {
    right: -7%;
    opacity: 1
  }
  100% {
    right: 0%;
    opacity: 0
  }
}

@keyframes moon {
50% {
  color: transparent;
}
}
@keyframes sun {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes wheel1 {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes wheel2 {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}